@model MVC__E_Commerce_Project.Models.CompanySlider

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanySlider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" accept="image/*" placeholder="Photo">
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
