<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description">Create Role</p>
                    <form class="forms-sample" method="Post">
                        <input type="text" name="role" placeholder="Role" class="form form-control"/>
                        <button type="submit" class="btn btn-outline-primary">Add Role</button>
                        <button asp-action="Index" class="btn btn-outline-warning" >Back To List</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

