@model UpdateRoleVM
@{
    ViewData["Title"] = "Update";
}

<h1>@Model.User.FullName</h1>

<form method="post">

    @foreach (var item in Model.Roles)
    {
        <input @(Model.UserRoles.Contains(item.Name) ? "checked = \"checked\"" : "" ) type="checkbox" value="@item.Name" name="roles" />@item.Name <br />
        <button type="submit" class="btn btn-primary">Change</button>
    }

</form>


